@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SimpleFeedReader;
@using System.Collections.Generic;
@using HtmlAgilityPack;
@using StimaToday.Models;

<div>
    <p>
        @using (Html.BeginForm())
        {
        <p>
            @Html.TextBox("searchString")   
            <input type="submit" value="Search" />
            @{var listItems = new List<SelectListItem>
                {
                    new SelectListItem { Text = "Booyer-Moore", Value="Booyer-Moore Algorithm" },
                    new SelectListItem { Text = "Knuth–Morris–Pratt", Value="Knuth–Morris–Pratt Algorithm" },
                    new SelectListItem { Text = "Regex", Value="Regex" }
                };
            }
            @Html.DropDownList("searchAlgo",new SelectList(listItems, "Value", "Text"))
        </p>
        }
    </p>
</div>

<div>
    @if (ViewBag.items != null)
    {
        <hr />
        <p id="Message"> searching keyword @ViewData["Keywords"] with @ViewData["Algo"] </p>
        foreach (var item in ViewBag.items)
        {
            <p> <strong> @((item as FeedItem).Title)    <a class="btn btn-default" href=@((item as FeedItem).Uri) target="_blank"> Go to site </a></strong> </p>
            <p> ... @((item as FeedItem).Content) ... </p>
            <p> news from <i> @((item as SearchResultEntry).OriginalSource)</i></p>
            <hr />
        }
    }
</div>